# clang-format
---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4

# Our includes are not order-agnostic
SortIncludes: false

# Some of our comments include insightful insight
ReflowComments: false
...
