# clang-format
---
BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4

# Our includes are not order-agnostic
SortIncludes: Never

# Some of our comments include insightful insight
ReflowComments: false
