*.o
*.so
.svn/
*/.svn/
*.pyc


# /devel/libenkf/src/
/devel/libenkf/src/.faultlist

# /develbranch/libenkf/src/
/develbranch/libenkf/src/.faultlist

# /devel/build
/devel/build

# netbeans project
/devel/nbproject

/build