name: Code Style

on: [pull_request]

jobs:
  formatting:
    name: CMake

    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@v6
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        pip install cmake-format clang-format black

    - name: Clang Format
      run: ./script/clang-format --check

    - name: CMake Format
      run: |
        find . -name 'CMakeLists.txt' -o -name '*.cmake' > cmake-src
        xargs cmake-format --check < cmake-src

    - name: Black
      run: |
        black --check .
