name: Windows Compile

on:
 push:
   branches:
     - main
     - 'version-**'
   tags: "*"
 pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build-cmake:
    name: CMake

    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
      with:
        # required for `git describe --tags` to work
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python.exe -m pip install --upgrade pip
        python.exe -m pip install conan

    - name: Setup Conan profile
      run: conan profile detect --force

    - name: Build ResData
      run: |
        python.exe -m pip install -r requirements.txt
        mkdir cmake-build
        conan install . --output-folder=cmake-build --build=missing
        cmake --preset conan-default 
        cmake --build --preset conan-release
